<div id="sidebar">
    <div class="topHeader">
        <!--<p>Mute Room</p>-->
        <!--<div>-->
            <!--<toggle></toggle>-->
        <!--</div>-->
    </div>

    <div class="sidebarSection options">
        <div class="option">
            <p>Mute Room</p>
            <div>
                <toggle></toggle>
            </div>
        </div>
        <div class="option">
            <p>Sound on</p>
        </div>
        <div class="option">
            <p>Create poll</p>
        </div>

    </div>

    <div class="sidebarSection buttons">

    </div>
</div>