<div id="services">

    <h1 style="font-family: Stalemate; text-align: center; font-size: 70px; margin: 5px"> Price List </h1>

    <div class="mainWrapper">
        <div class="wrapper">
            <p class="sectionHeading">Hands</p>

            <div class="service">
                <p class="title">File & Polish</p>
                <p class="price">€10.00</p>
            </div>

            <div class="service">
                <p class="title">Manicure</p>
                <p class="price">€16.00</p>
            </div>

            <div class="service">
                <p class="title">Shellac manicure</p>
                <p class="price">€26.00</p>
            </div>

            <div class="service">
                <p class="title">Fullset acrylic with normal colour</p>
                <p class="price">€36.00</p>
            </div>

            <div class="service">
                <p class="title">Fullset acrylic with shellac colour</p>
                <p class="price">€46.00</p>
            </div>

            <div class="service">
                <p class="title">Fullset ombre</p>
                <p class="price">€42.00</p>
            </div>

            <div class="service">
                <p class="title">Refill acrylic with normal colour</p>
                <p class="price">€30.00</p>
            </div>

            <div class="service">
                <p class="title">Refill acrylic with shellac colour</p>
                <p class="price">€40.00</p>
            </div>

            <div class="service">
                <p class="title">Refill ombre</p>
                <p class="price">€36.00</p>
            </div>

            <div class="service">
                <p class="title">Overlay</p>
                <p class="price">€32.00</p>
            </div>
        </div>

        <div class="wrapper">
            <p class="sectionHeading">Waxing</p>

            <div class="service">
                <p class="title">Eyebrows</p>
                <p class="price">€7.00</p>
            </div>

            <div class="service">
                <p class="title">Lip</p>
                <p class="price">€5.00</p>
            </div>

            <div class="service">
                <p class="title">Chin</p>
                <p class="price">€5.00</p>
            </div>

            <div class="service">
                <p class="title">Underarm</p>
                <p class="price">€10.00</p>
            </div>

            <div class="service">
                <p class="title">Bikini Line</p>
                <p class="price">€10.00</p>
            </div>

            <div class="service">
                <p class="title">Half Leg</p>
                <p class="price">€15.00</p>
            </div>

            <div class="service">
                <p class="title">Full Leg</p>
                <p class="price">€25.00</p>
            </div>

            <div class="service">
                <p class="title">Eyebrow tint</p>
                <p class="price">€7.00</p>
            </div>

            <div class="service">
                <p class="title">Eyelash tint</p>
                <p class="price">€7.00</p>
            </div>

            <div class="service">
                <p class="title"></p>
                <p class="price"></p>
            </div>
        </div>

        <div class="wrapper">
            <p class="sectionHeading">Feet</p>

            <div class="service">
                <p class="title">File & Polish</p>
                <p class="price">€12.00</p>
            </div>

            <div class="service">
                <p class="title">Mini pedicure</p>
                <p class="price">€18.00</p>
            </div>

            <div class="service">
                <p class="title">Mini pedicure with Shellac</p>
                <p class="price">€26.00</p>
            </div>

            <div class="service">
                <p class="title">Spa pedicure</p>
                <p class="price">€36.00</p>
            </div>

            <div class="service">
                <p class="title">Spa pedicure with Shellac</p>
                <p class="price">€45.00</p>
            </div>

        </div>

        <div class="wrapper">
            <p class="sectionHeading">    &nbsp; </p>
                <div class="service" style="height: 250px;">
                    <img src="../../../../assets/images/nails.png">
                </div>
        </div>
    </div>



</div>
