<div id="staff">
    <div class="staffs">
        <h1 style="font-family: Stalemate; font-size: 70px; text-align: center;" > Photo Gallery </h1>

        <div class="staff">
        <div class="image">
            <img src="assets/images/staff/1.jpg">
        </div>
    </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/2.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/3.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/4.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/5.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/6.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/7.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/8.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/9.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/10.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/11.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/12.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/13.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/14.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/15.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/16.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/17.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/18.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/19.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/Shop2.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/Shop.jpg">
            </div>
        </div>

        <div class="staff">
            <div class="image">
                <img src="assets/images/staff/Logo.jpg">
            </div>
        </div>

    </div>
</div>
